@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
}

h1 {
  margin: 0;
}

/* Toggle Styles */
#viewport {
  padding-left: 320px;
  transition: all 0.5s ease;
}

#content {
  padding-top: 18px;
  padding-right: 25px;
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */
#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 300px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474f;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #263238;
  font-size: 25px;
  line-height: 80px;
  text-align: center;
}

#sidebar header div, #sidebar header span {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header div:hover, #sidebar header span:hover {
  color: #fff;
}

#sidebar .nav div {
  background: none;
  border-bottom: 1px solid #455A64;
  color: #CFD8DC;
  font-size: 20px;
  padding: 16px 24px;
  line-height: 50px;
  text-decoration: none;
  display: block;
  cursor: pointer; /* Set the cursor to pointer on hoverable elements */
}

#sidebar .nav div:hover {
  background: none;
  color: #ECEFF1;
}

#sidebar .nav div i {
  margin-right: 16px;
}
